<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="close-icon">×</span>
            <span class="icon-bar"></span>a
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand drg-logo" href="/">ADFL</a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/edit">Admin</a>
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="row" ng-if="loading">
        <div class="col-xs-12 text-center">
            <h1><i class="fa fa-spinner fa-spin"></i></h1>
        </div>
    </div>
    <div class="row" ng-if="loading === false">
        <div class="hidden-sm col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="">Table</a>
                </li>
                <li>
                    <a href="">Team Info</a>
                </li>
                <li>
                    <a href="">Fixtures</a>
                </li>
                <li ng-repeat="fixture in fixtures">
                    <a href="">Week {{fixture.week}}
                        <span class="small">(Deadline {{fixture.deadline | date:'dd MMM'}})</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-10 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">League Table</h3>
                </div>
                <div class="panel-body">
                    <h6 class="small">Click a header to sort</h6>
                    <table class="table league-table">
                        <thead>
                            <tr>
                                <th class="hidden-md" ng-click="sortType = 'position'; sortReverse = !sortReverse">Position</th>
                                <th class="visible-md">Pos.</th>
                                <th ng-click="sortType = 'name'; sortReverse = !sortReverse">Team</th>
                                <th class="hidden-md" ng-click="sortType = 'played'; sortReverse = !sortReverse">Played</th>
                                <th class="visible-md">Pl</th>
                                <th class="hidden-md" ng-click="sortType = 'won'; sortReverse = !sortReverse">Won</th>
                                <th class="visible-md">W</th>
                                <th class="hidden-md" ng-click="sortType = 'lost'; sortReverse = !sortReverse">Lost</th>
                                <th class="visible-md">L</th>
                                <th class="hidden-md" ng-click="sortType = 'drawn'; sortReverse = !sortReverse">Drawn</th>
                                <th class="visible-md">D</th>
                                <th class="hidden-md" ng-click="sortType = 'points'; sortReverse = !sortReverse">Points</th>
                                <th class="visible-md">Pts</th>
                                <th class="hidden-md" ng-click="sortType = 'totalScored'; sortReverse = !sortReverse">Scored</th>
                                <th class="visible-md">S</th>
                                <th class="hidden-md" ng-click="sortType = 'totalConceeded'; sortReverse = !sortReverse">Conceded</th>
                                <th class="visible-md">C</th>
                                <th class="hidden-md" ng-click="sortType = 'aggregate'; sortReverse = !sortReverse">Aggregate</th>
                                <th class="visible-md">Agg</th>
                                <th class="hidden-sm hidden-md" ng-click="sortType = 'totalScored/played'; sortReverse = !sortReverse">Avg Scored</th>
                                <th class="hidden-sm hidden-md" ng-click="sortType = 'totalConceeded/played'; sortReverse = !sortReverse">Avg
                                    Conceded
                                </th>
                                <th class="hidden-sm hidden-md"
                                    ng-click="sortType = '(totalScored/played)-(totalConceeded/played)'; sortReverse = !sortReverse">+/-
                                </th>
                                <th class="hidden-sm hidden-md" ng-click="sortType = 'doughnuts'; sortReverse = !sortReverse">Doughnuts!</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="team in teams | orderBy:sortType:sortReverse">
                                <td>{{team.position}}</td>
                                <td>{{team.name}}</td>
                                <td>{{team.played}}</td>
                                <td>{{team.won}}</td>
                                <td>{{team.lost}}</td>
                                <td>{{team.drawn}}</td>
                                <td>{{team.points}}</td>
                                <td>{{team.totalScored}}</td>
                                <td>{{team.totalConceeded}}</td>
                                <td>{{team.aggregate}}</td>
                                <td class="hidden-sm hidden-md">{{(team.totalScored/team.played) | number:1}}</td>
                                <td class="hidden-sm hidden-md">{{(team.totalConceeded/team.played) | number:1}}</td>
                                <td class="hidden-sm hidden-md">{{(team.totalScored/team.played) - (team.totalConceeded/team.played) | number:1}}</td>
                                <td class="hidden-sm hidden-md">{{team.doughnuts}}</td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Team Info</h3>
                </div>
                <div class="panel-body">
                    <table class="table" id="teamTable">
                        <thead>
                            <tr>
                                <th ng-if="isEditMode"></th>
                                <th></th>
                                <th>Team Name</th>
                                <th>Player 1</th>
                                <th>Player 2</th>
                                <th>Form</th>
                                <th>Next Opponent</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="team in teams | orderBy:'name'">
                                <td ng-if="isEditMode">
                                    <a href="/team/{{team._id}}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="/submit-score/{{team._id}}">
                                        <i class="fa fa-futbol-o"></i>
                                    </a>
                                </td>
                                <td>{{team.name}}<i ng-if="team.seeded" class="fa fa-star"></i></td>
                                <td>{{team.p1}}</td>
                                <td>{{team.p2}}</td>
                                <td><span ng-repeat="form in team.form track by $index">{{form}}</span></td>
                                <td>{{team.nextOpponent}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="seeded-label"><i class="fa fa-star"></i> seeded</p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Fixtures</h3>
                </div>
                <div class="panel-body">
                    <!--<h6 class="small">Click a team name to arrange your match</h6>-->

                    <p class="form-inline">Show only matches for
                        <select class="form-control" ng-model="filteredTeam"
                                ng-options="team.name for team in teams | orderBy: 'name'">
                            <option value="">All</option>
                        </select>
                    </p>
                    <div class="panel clearfix" ng-repeat="fixture in fixtures">
                        <h3>Week {{fixture.week}}
                            <button ng-if="isEditMode" class="btn btn-primary" ng-click="save(fixture)">Save</button>
                        </h3>

                        <div class="match"
                             ng-class="{isEditMode : isEditMode}"
                             ng-repeat="match in fixture.matches"
                             ng-if="filteredTeam === null || match.home.team === filteredTeam.name || match.away.team === filteredTeam.name">
                            <adfl-match match="match" is-edit-mode="isEditMode" get-match-popover="getMatchPopover"></adfl-match>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>